.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}

.Site-header{
  flex: 1; /* 2 */
}

.Site-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.Site-content {
  flex: 1 0 auto; /* 2 */
  flex-shrink: 0;
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}

.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}

.no-padding-left
{
  padding-left: 0px !important;
}

